body {
    background-color: rgb(200, 196, 196);
}

/* Main Body Paragraphs*/

h2 {
    margin: 10px;
    margin-left: 50px;
}

.col-10 {
    margin-left: 50px;
}

/* End of Main Body Paragraphs */


/* Cards */

#first-card {
    padding: 10px;
}

#second-card {
    padding: 10px;
}

#third-card {
    padding: 10px;
}

#fourth-card {
    padding: 10px;
}

#fifth-card {
    padding: 10px;
}

#sixth-card {
    padding: 10px;
}

.container {
    margin-top: 10px;
}

.row {
    margin-top: 10px;
    margin-bottom: 20px;
}

/* End of Cards */

@media only screen and (max-width: 1000px) {
    .container {
      margin-top: 10px;
    }

    #first-card {
        margin-top: 10px;
    }
    
    #second-card {
        margin-top: 10px;
    }
    
    #third-card {
        margin-top: 10px;
    }

    #fourth-card {
        margin-top: 10px;
    }

    #fifth-card {
        margin-top: 10px;
    }

    #sixth-card {
        margin-top: 10px;
    }
    
  }