body {
    background-color: rgb(200, 196, 196);
}

p {
    font-size: large;
}

button:hover {
    border: 1px solid black;
    background: rgb(202, 202, 243);
}



  /* portfolio.html */

  .portfolio-photos {
      border-radius: 50%;
  }
